body {
	background-color: #dcdcdc;
}

.balloon {
	width: 500px;
	height: 500px;
	position: relative;
}

.timer {
	-webkit-transform: rotate(-90deg) translateY(-50%);
					transform: rotate(-90deg) translateY(-50%);
	position: absolute;
	top: 2em;
	left: 51%;
	z-index: 2;
	width: 80%;
	height: 80%;
}

.balloon__logo {
	fill: #ffffff;
}
.balloon__top {
	-webkit-animation-name: pulse;
					animation-name: pulse;
	-webkit-animation-duration: 2s;
					animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
}
@keyframes pulse {
	50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
	0%, 100% { -webkit-transform: scale(1); transform: scale(1); }
}
@-webkit-keyframes pulse {
	50% { -webkit-transform: scale(1.1); transform: scale(1.1); }
	0%, 100% { -webkit-transform: scale(1); transform: scale(1); }
}

.balloon__top-border,
.balloon__pucka-border {
	stroke: #ECECED;
	stroke-width: 1;
	stroke-linejoin: round;
}
.balloon__top-gradient {
	fill: url(#balloon-gradient);
}
.balloon__pucka-gradient {
	fill: url(#pucka-gradient);
}
.balloon__line-rope {
	fill: #6F6F6E;
}