.balloon {
	width: 500px;
	position: relative;
}

.balloon__logo {
	fill: #ffffff;
}
.balloon__top-border,
.balloon__pucka-border {
	stroke: #ECECED;
	stroke-width: 1;
	stroke-linejoin: round;
}
.balloon__top-gradient {
	fill: url(#balloon-gradient);
}
.balloon__pucka-gradient {
	fill: url(#pucka-gradient);
}
.balloon__line-rope {
	fill: #6F6F6E;
}